@model MyApp.ViewModel.Identity.RegisterViewModel

@{
    ViewBag.Title = "Register";
}


<div class="container">

    <p class="display-1">Register</p>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            @Html.LabelFor(x => x.Username, new { @class = "form-label" })
            @Html.EditorFor(x => x.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            @Html.LabelFor(x => x.Email, new { @class = "form-label" })
            @Html.EditorFor(x => x.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>
            <div class="row">
                @Html.LabelFor(x => x.Password, new { @class = "form-label" })
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                @Html.LabelFor(x => x.ConfirmPassword, new { @class = "form-label" })
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                @Html.LabelFor(x => x.Pet, new { @class = "form-label" })
                @Html.EditorFor(x => x.Pet, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Pet, "", new { @class = "text-danger" })
            </div>

            @Html.ValidationMessage("ErrCreateUser", new { @class = "text-danger" })
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <button type="submit" class="btn btn-success mt-2">Gravar</button>
    }
</div>
